{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults",
        "useBuiltIns": "usage",
        "corejs": {
          // 指定core-js版本
          "version": 3,
        },
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-commonjs"
  ]
}
